#map{
	height:100%;
	width:100%;
	position:absolute;
	background-color:#0e0e0e;
}

.left-div{
	height: -moz-calc(100% - 51px);
    height: -webkit-calc(100% - 51px);
    height: calc(100% - 51px);
	width:38%;
	position:absolute;
}

.right-div{
	position:relative;
	float:left;
	margin-left:38%;
	width:62%;
	height:100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.side-panel-container{
	width:100%;
	height:100%;
	padding:0px;
	padding-top:51px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

.header{
	text-align:center;
}

.transit-score-header{
	margin-bottom:0;
	margin-top:0;
	padding-top:10px;
	margin-left:39px;
	text-align:left;
}

.nav-tabs>li>a{
	color:#007fa3;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
	color:#000000;
}
 body{
 	margin:0px;
 	padding:0px;
 }

 #bottom-right-img{
 	position:absolute;
 	right:0;
 	bottom:0;
 	width:15%;
 }

h3{
	margin-top:0px;
	padding-top:20px;
}

.nav-tabs>li.active{
	background-color:#eeeeee;
}

html, body{
	height:100%;
}

#flag{
	height:50px;
	display:inline-block;
	float:left;
}

.navbar{
	background:#007fa3;
	width:100%;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{
	background-color:rgba(136, 150, 193, 1);
	background-image:none;
}

.navbar-inverse .navbar-brand{
	color:#E8E8E8;
}

.navbar-inverse .navbar-nav>li>a{
	color:#E8E8E8;
}

.overall-header{
	margin:0;
	padding-top:1px;
	padding-bottom:2px;
}

.title-bold{
	font-weight:bold;
}

#circles{
	height:170px; 
	position:fixed;
	z-index:1;
}

.nav-tabs.nav>li>a{
	z-index:2;
	background-color:#e4e4e4;
	background-color:rgba(228,228,228,.4);
}

.nav-tabs.nav>li>a:hover{
	background-color:#ffffff;
		background-color:rgba(255,255,255,.4);

}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
	color: #ffffff;
}

.nav.nav-tabs{
	background-color:#FFFFFF;
		background-color:rgba(255,255,255,0);

}

.nav.nav-tabs>li>a{
	border-color:#AFAFAF;
	border-width:1px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color:#E8E8E8;
	background-color:#007fa3
}

.nav-tabs>li.active>a:hover{
	color:#ffffff;
}

.nav.nav-tabs>li.active>a{
	border-color:#007fa3;
}

#footer{
	height:66px;
	width:100%;
	position:absolute;
	bottom:0px;
}

#circle-bottom{
	position:absolute;
	bottom:0px;
	right:0px;
	height:300px;
}

#station-list-content{
	overflow-y:scroll;
	height: -moz-calc(100% - 332px);
    height: -webkit-calc(100% - 332px);
    height: calc(100% - 332px);
    width:100%;
	position:absolute;
	padding-left:50px;
	padding-right:50px;
	margin-top:20px;
}

#station-list-header{
	padding-left:50px;
	padding-right:50px;
}

.navbar-inverse .navbar-nav>.active>a:hover{
	background-color:rgba(72, 95, 161, 1);
}

.container{
	margin-left:0px;
	width:100%;
}

.navbar-brand{
	font-size:28px;
}

#dashboard-title{
	display:inline;
	padding-top:4px;
}

.footer-logo{
	height:50px;
	margin-top:8px;
	margin-left:25px;
	float:left;
}

#search{
	float:right;
	margin-top:8px;

}

.search-small{
		width:100%;
	padding-left:10px;
	padding-right:10px;
}

#s2id_search{
	float:right;
	margin-top:12px;
}

.panel-tab{
	width:200px;
}

.panel-tab-text{
	text-align:center;
}

.dropdown-header{
	padding-left:5px;
	font-weight:bold;
	color:#000000;
}

.panel-default{
	margin:15px;
}

table > tbody > tr > td:nth-child(1){
	font-weight:bold;
}

.nvd3.nv-wrap.nv-multiBarHorizontalChart{
	width:100%;
	height:100%;
}

.search-small{
/*	display:inherit;*/
}

.short-title{
	display:none;
}

#generalInformationTab{
	display:none;
}

.btn-group.ui-select-match.btn-block{
	width:300px;
}
.btn.btn-default.col-sm-10.col-md-11{
	width:266px;
}
.btn.btn-default.col-sm-2.col-md-1{
	width:34px;
}

@media (max-width: 767px) {
/*	.btn-group.ui-select-match.btn-block{
		width:162px;
	}*/
}


@media (max-width: 775px) {
	.long-title{
		display:none;
	}
	.short-title{
		display:inherit;
	}
}

@media (max-width: 430px) {
	#flag{
		display:none;
	}
}

#tabpanel{
	height: calc(100% - 125px);
}

.tab-content{
	height: calc(100% - 42px);
	overflow-y: auto;
	overflow-x: hidden;
}


.nav-tabs>li{
	max-width:50%;
}


@media (max-width: 600px) {
	.nav-tabs>li{
		width:100%;
		max-width:100%;
		border-radius:0 0 0 0;
	}
	.nav-tabs>li>a{
		border-radius:0 0 0 0;
		margin:0px;
	}
	#tabpanel{
		height: calc(100% - 125px);
	}

	.tab-content{
		height: calc(100% - 126px);
	}
	#generalInformationTab{
		display:inline;
	}
	#generalInformationDiv{
		display:none;
	}
}


@media (max-height: 607px) {
	#footer{
		display:none;
	}
	#tabpanel{
		height: calc(100% - 53px);
	}
	.tab-content{
		height: calc(100% - 42px);
		overflow-y: auto;
	}
	#score{
		height: calc(100% - 53px);
	}
}

#generalInformationDiv{
	overflow:auto;
}

#generalInformationTable{
}

.ui-select-choices-row-inner > span{
	display:none;
}



#tooltipContainer{
	margin-left:13px;
	margin-right:13px;
	margin-top:5px;
	margin-bottom:5px;
}

.leaflet-zoom-animated {
	width: inherit;
	height: inherit;
}

.footer-background{
	position:absolute;
	width:100%;
	z-index:-1;
	height:66px;	
	left:0px;	
}

.scoreIcon{
	height:20px;
	width:20px;
	margin-left:5px;
	margin-right:5px;
}

#imaplogo{
	position:absolute;
	bottom:15px;
	left:3px;
}

.category-icon{
	width:30px;
	height:30px;
	/*margin-top:0px;
	margin-left:90px;*/
}

.accordion-icon{
	width:30px;
	height:30px;
	margin-top:0px;
	margin-right:10px;
}

#category-icon-container{
	margin-top:0px;
	margin-left:-11px;
	margin-bottom:5px;
}


@media (max-width: 931px) {

	.right-div{
		width:100%;
		margin-left:0px;
		float:left;
	}
	.left-div{
		width:100%;
		position:relative;
		height: 100%;
	}
	#map{
		height:95%;
		bottom:0px;
	}
	#footer{
		display:none;
	}

	.tab-content{
		height:100%;
	}

	#tabpanel{
		height: 100%;
	}

}

.table{
	max-width:100%!important;
}

.scrollable-pane{
	overflow-y:scroll;
	overflow-x:hidden;
	height:calc(100% - 125px);
}


	#search{
		float:right;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:8px;
	}

	.tab-icon{
		width:11.75%;
		margin-left:2.40%;
	}

	.tab-icon.first-tab{
		margin-left:0;
	}

	#category-icon-container{
		margin-left:39px;
	}

	.category-tabs{
		text-align:center;
	}

	@media (max-width: 1356px){
	.nav-tabs>li{
		width:100%;
		max-width:100%;
		border-radius:0 0 0 0;
	}
	.nav-tabs>li>a{
		border-radius:0 0 0 0;
		margin:0px;
	}
	#tabpanel{
		height: calc(100% - 125px);
	}

	.tab-content{
		height: calc(100% - 126px);
	}

	.search-small{
		display:inherit;
	}

	#search{
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:8px;
	}

	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }	
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

	.tab-icon{
		width:100%;
		margin-left:0;
	}

	#category-icon-container{
		margin-left:0;
	}
	.nav-tabs > li{
		max-width:100%;
	}

}

.pull-left{
	float:none!important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    margin-top:6px;
    margin-bottom:6px;
    height: 6px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

@media (max-width: 1310px) {
	.tick>text{
		display:none;
	}
}

.form-control:focus{
	border-color: #007FA3;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba( 0, 127, 163, 0.6);
}

.ui-select-bootstrap .ui-select-choices-row.active > a{
	background-color: #007FA3;
}

.no-padding{
	padding:0;
}

.group {
    background: yellow;
    width: 200px;
    height: 500px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

.ui-select-bootstrap > .ui-select-choices{
	max-height:350px;
}

h5{
	font-size:16px;
}